<!-- Farmers Information -->

<div class="d-flex flex-column gap-1">
  <label for="area">Area</label>
  <select class="form-select" id="area" name="area" required>
    <option value="" selected disabled>Pilih area</option>
  </select>
</div>
<div class="d-flex flex-column gap-1">
  <label for="list-petani">List petani</label>
  <select
    class="form-select"
    id="list-petani"
    name="list-petani"
    disabled
    required
  >
    <option value="" selected disabled>Pilih petani</option>
  </select>
</div>
<div class="d-flex flex-column gap-1">
  <label for="nama">Nama petani</label>
  <input
    type="text"
    class="form-control on-area-change on-farmers-change"
    name="nama"
    id="nama"
    placeholder="Pilih list petani terlebih dahulu"
    readonly="readonly"
    disabled
    required
  />
</div>
<div class="d-flex flex-column gap-1">
  <label for="lead-id">Lead id</label>
  <input
    type="text"
    class="form-control on-area-change on-farmers-change"
    name="lead-id"
    id="lead-id"
    placeholder="Pilih list petani terlebih dahulu"
    readonly="readonly"
    disabled
    required
  />
</div>
<div class="d-flex flex-column gap-1">
  <label for="nomor-kolam">Nomor kolam</label>
  <select
    class="form-select on-area-change on-farmers-change"
    id="nomor-kolam"
    name="nomor-kolam"
    disabled
    required
  >
    <option value="" selected disabled>Pilih no kolam</option>
  </select>
</div>

<!-- Monitoring BUdidaya Information -->

<section class="d-flex flex-column gap-2">
  <div class="d-flex flex-column gap-2">
    <p class="fw-bolder m-0">Data Monitoring Budidaya</p>
  </div>
  <div class="ps-3">
    <div class="d-flex flex-column gap-1">
      <label for="tanggal-cek-budidaya">Tanggal Pengecekan Budidaya</label>
      <input
        type="date"
        class="form-control on-area-change on-farmers-change"
        name="tanggal-cek-budidaya"
        id="tanggal-cek-budidaya"
        disabled
        required
      />
    </div>
  </div>
  <div class="ps-3">
    <div class="d-flex flex-column gap-1">
      <label for="kondisi-budidaya">Kondisi budidaya</label>
      <select
        class="form-select on-area-change on-farmers-change on-pond-change create-list-on-page-load"
        id="kondisi-budidaya"
        name="kondisi-budidaya"
        disabled
        required
      >
        <option value="" selected disabled>
          Pilih kondisi budidaya saat pengecekan
        </option>
      </select>
    </div>
  </div>
  <div class="ps-3">
    <div class="d-flex flex-column gap-1">
      <label for="apakah-ada-kematian">Apakah ada kematian ikan?</label>
      <select
        class="form-select on-area-change on-farmers-change on-pond-change yes-or-no-option"
        id="apakah-ada-kematian"
        name="apakah-ada-kematian"
        disabled
        required
      ></select>
    </div>
  </div>
  <div class="ps-3">
    <div class="d-flex flex-column gap-1">
      <label for="jumlah-kematian-ikan">Jumlah kematian ikan</label>
      <div class="d-flex gap-2">
        <input
          type="number"
          class="form-control on-area-change on-farmers-change on-pond-change on-kematian-ikan-change"
          name="jumlah-kematian-ikan"
          id="jumlah-kematian-ikan"
          min="1"
          disabled
          required
        />
        <select
          class="form-select on-area-change on-farmers-change on-pond-change on-kematian-ikan-change"
          id="satuan-kuantitas"
          name="satuan-kuantitas"
          disabled
          required
        >
          <option value="" selected disabled>Pilih satuan</option>
          <option value="ekor">ekor</option>
          <option value="kg">kg</option>
        </select>
      </div>
    </div>
  </div>
  <div class="ps-3">
    <div class="d-flex flex-column gap-1">
      <label for="apakah-mencatat-pakan"
        >Apakah petani mencatat penggunaan pakan?</label
      >
      <select
        class="form-select on-area-change on-farmers-change on-pond-change yes-or-no-option"
        id="apakah-mencatat-pakan"
        name="apakah-mencatat-pakan"
        disabled
        required
      ></select>
    </div>
  </div>
  <div class="ps-3">
    <div class="d-flex flex-column gap-1">
      <label for="total-penggunaan-pakan">Total penggunaan pakan (kg)</label>
      <div class="form-text" id="keterangan-terakhir-input-data-pakan"></div>
      <input
        type="text"
        class="form-control on-inputhange on-farmers-change on-pond-change numeric-input"
        id="total-penggunaan-pakan"
        name="total-penggunaan-pakan"
        placeholder="Dalam satuan kg"
        disabled
        required
      />
    </div>
  </div>
  <div class="ps-3">
    <div class="d-flex flex-column gap-1">
      <label for="suhu">Suhu (°C)</label>
      <input
        type="number"
        class="form-control on-area-change on-farmers-change on-pond-change"
        name="suhu"
        id="suhu"
        step="0.01"
        min="0"
        disabled
      />
    </div>
  </div>
  <div class="ps-3">
    <div class="d-flex flex-column gap-1">
      <label for="dissolved-oxygen">DO (mg/L)</label>
      <input
        type="number"
        class="form-control on-area-change on-farmers-change on-pond-change"
        name="dissolved-oxygen"
        id="dissolved-oxygen"
        step="0.01"
        min="0"
        disabled
      />
    </div>
  </div>
  <div class="ps-3">
    <div class="d-flex flex-column gap-1">
      <label for="ph">pH</label>
      <input
        type="number"
        class="form-control on-area-change on-farmers-change on-pond-change"
        name="ph"
        id="ph"
        step="0.01"
        min="0"
        disabled
      />
    </div>
  </div>
  <div class="ps-3">
    <div class="d-flex flex-column gap-1">
      <label for="tds">TDS (ppm)</label>
      <input
        type="number"
        class="form-control on-area-change on-farmers-change on-pond-change"
        name="tds"
        id="tds"
        step="0.01"
        min="0"
        disabled
      />
    </div>
  </div>
  <div class="my-1">
    <div class="d-flex flex-column">
      <label for="keterangan">Keterangan</label>
      <textarea
        class="form-control on-area-change on-farmers-change"
        id="keterangan"
        name="keterangan"
        value=""
        placeholder="Tulis disini jika terjadi kasus khusus pada kolam"
        value
        disabled
      ></textarea>
    </div>
  </div>
</section>

<!-- Upload File -->

<section class="d-flex flex-column gap-2">
  <div class="d-flex flex-column gap-1">
    <label for="foto-kematian" class="fw-bolder"
      >Dokumentasi Kematian Ikan</label
    >
    <p class="form-text m-0">
      Upload foto kematian ikan jika ada kasus kematian ikan
    </p>
    <input
      type="file"
      class="form-control on-submit-change on-area-change on-pond-change on-farmers-change"
      name="foto-kematian"
      id="foto-kematian"
      accept="image/*"
      multiple
      disabled
    />
  </div>
  <div class="d-flex flex-column gap-1">
    <label for="foto-bencana-alam" class="fw-bolder"
      >Dokumentasi Bencana Alam</label
    >
    <p class="form-text m-0">
      Upload foto kondisi kolam jika ada kasus bencana alam
    </p>
    <input
      type="file"
      class="form-control on-submit-change on-area-change on-pond-change on-farmers-change"
      name="foto-bencana-alam"
      id="foto-bencana-alam"
      accept="image/*"
      multiple
      disabled
    />
  </div>
  <div class="d-flex flex-column gap-1">
    <label for="foto-logbook-pakan" class="fw-bolder"
      >Dokumentasi Logbook Pakan</label
    >
    <p class="form-text m-0">
      Upload foto logbook pakan petani jika petani melakukan pencatatan
    </p>
    <input
      type="file"
      class="form-control on-submit-change on-area-change on-pond-change on-farmers-change"
      name="foto-logbook-pakan"
      id="foto-logbook-pakan"
      accept="image/*"
      multiple
      disabled
    />
  </div>
  <div class="d-flex flex-column gap-1">
    <label for="foto" class="fw-bolder">Dokumentasi Bukti Visit</label>
    <p class="form-text m-0">Upload foto bukti kunjungan monitoring budidaya</p>
    <input
      type="file"
      class="form-control on-submit-change on-area-change on-pond-change on-farmers-change"
      name="foto"
      id="foto"
      accept="image/*"
      required
      disabled
    />
  </div>
</section>
